@font-face {
    font-family: 'Roboto';
    src:  url('/Users/jonasreinhard/repos/odin-admin-dashboard/assets/fonts/Roboto.ttf') format('ttf'),
}

body{
    margin:0;
}

*{
    font-family: Roboto;
}

/* page-layout */

body{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar, .sidebar ul{
    grid-column: 1 / 2;
}

.sidebar{
    display: grid;
    grid-column: 1fr;
}

.sidebar ul{
    display: grid;
    grid-column: 1fr;
    
}

.header div ul{
    grid-column: 2 / 3;
}


.announcements ul{
    grid-column: 2 / 3;
}

.trending ul{
    grid-column: 2 / 3;
}

.right-side{
    display: grid;
    grid-template-rows: 0.5fr 0.4fr 3fr;
    /* grid-template-rows: 1fr 0.8fr 6fr; */
    /* grid-template-rows: 1fr 0.4fr 7fr; */
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top-part-header ul{
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr 0.5fr 0.5fr;
}

.header .bottom-part-header ul{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr;
}

.bottom-part{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}

.main-content{
    grid-column: 1 / 2;
}

.announcements{
    grid-column: 2 / 3;
    
}

.trending{
    grid-column: 2 / 3;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.headings{
    display:grid;
    grid-template-columns: 5fr 1fr;
}

.display-card{
    display:grid;
    grid-template-rows: 0.5fr 3fr 1fr ;
}

.action-icons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75px;
}

.trending-heading{
    grid-column: 2/3;
}

.side-content{
    display: grid;
    grid-template-rows: 3fr 0.5fr 2.5fr;
}

/* page-styling */

.right-side{
    background-color:#e2e8f0;
   
}

li{
    list-style: none;
}

.left-side{
    background-color: #1992d4;
    
}

.sidebar ul{
    gap:15px;
}

.sidebar ul li p{
    display: inline;
    font-family: Roboto;
    font-weight: 500;
    color: white;
} 

.dashboard-logo{
    width:50px;
    -webkit-filter: invert(100%);
}

.sidebar ul li p{
    display: inline;
    align-items: center;

} 

.icon{
    width: 25px;
    -webkit-filter: invert(100%);
    padding-right: 20px;   
}

.bell-icon{
    width: 25px;
}

.searchbar{
    background-color: #e2e8f0;
    height: 50%;
    border-radius: 10px;


    
}

.search-icon{
    width: 25px;
}

.display-card{
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid orange;
    
    min-height:150px;
    max-height:250px;
    min-width:250px;
    max-width:350px;
    
}

.trending{
    background-color: white;
    border-radius: 10px;
}

.announcements{
    background-color: white;
    border-radius: 10px;
}

.bottom-part{
    gap:20px;
}

button{
    background-color: #1992d4;
    border-radius: 30px;
    border-style: hidden;
    color: white;
    height: 2em;
    width: auto;
    padding:  10px 20px 10px 20px;
    line-height: 0px;
}

.header{
    background-color: white;
}

.trending-avatar img{
    width: 40px;
    height:auto;
    border-radius: 20px;
}

.top-header-avatar{
    width: 38px;
    border-radius: 20px;
    height: auto;
}

.bottom-header-avatar{
    width: 50px;
    height:auto;
    border-radius: 20px;
}

.trending ul li img{
    display: inline;
}

.trending-avatar{
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.trending-avatar div{
    display: grid;
    grid-row: 1fr 1fr;
}

.trending-avatar div p{
    margin:0;
}

.trending-avatar{
    margin-bottom:20px;
}


.action-icons {
    align-items: center;
    gap:20px;
    height: auto;
    width: 100px;
}

.main-content{
    align-items: center;
    justify-items: center;
}

.main-content .display-card{
    padding-left: 20px;
}

.main-content .display-card h5{
    margin-bottom: 5px;
}

.main-content .display-card p{
    margin-top: 0px;
}

.main-content .display-card .action-icons{
    position: relative;
    bottom: 20%;
    left: min(50%);
    left: max(55%);
}

.side-content{
    padding-right:20px;
}